<p id="notice"><%= notice %></p>

<h1><%= @area.name %> <small><%= @filtered_listings.count %> listings</small></h1>
<%= form_tag @area_path, method: :get do %>
  <%= label_tag :bedrooms %>
  <%= select_tag :bedrooms, options_for_select(@area.listings.map(&:bedrooms).uniq.compact.sort, params["bedrooms"]), prompt: "All"%>

  <%= label_tag :sale_status %>
  <%= select_tag :sale_status, options_for_select(["sold", "unsold"], params["sale_status"]), prompt: "All"%>
  <%= submit_tag 'Go', class: "green-button" %>
<% end %>
<p><%= link_to "Clear filters", area_path(@area) %>

<p><%= link_to "Visit on Rightmove", @area.url %></p>
<p><%= link_to "Agents", area_agents_path(@area) %></p>
<hr>
<% @filtered_listings.each_with_index do |listing, index| %>
  <p><%= index + 1 %>: <%= link_to listing.title, listing.rm_link, target: "_blank" %></p>
  <p><%= listing.address %></p>
  <p>Agent: <small><%= listing.agent %></small></p>
  <% if listing.sold? %>
    <p>SOLD - <small><%= pretty_date(listing.under_offer) %></small></p>
  <% elsif listing.delisted %>
    <p>DELISTED - <small><%= pretty_date(listing.time_delisted) %></small></p>
  <% end %>

  <p><small><%= listing.description %></small></p>
  <p>£<%= number_with_delimiter(listing.price.amount, delimiter: ",") %>
  <% if listing.price.reduction %>
    - Reduced
  <% end %>
  <small><%= listing.price.pretty_date %> (<%= time_ago_in_words(listing.price.date) %> ago)</small></p>
  <% if listing.prices.count > 1 %>
    <p>Previous prices:
    <ol>
    <% listing.prices.previous.each do |price| %>
      <li>£<%= number_with_delimiter(price.amount, delimiter: ",") %>
      <small><%= price.pretty_date %> (<%= time_ago_in_words(price.date) %> ago)</small></li>
    <% end %>
    </ol>
  <% end %>
  <hr>
<% end %>



<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
