<p id="notice"><%= notice %></p>

<h1><%= @area.name %> <small><%= @area.listings.count %> listings</small></h1>

<p><%= link_to "Visit on Rightmove", @area.url %></p>
<hr>
<% @area.listings.each do |listing| %>
  <p><%= link_to listing.title, listing.rm_link, target: "_blank" %></p>
  <p><%= listing.address %></p>
  <p><small><%= listing.description %></small></p>
  <p>£<%= number_with_delimiter(listing.price.amount, delimiter: ",") %>
  <% if listing.price.reduction %>
    - Reduced</p>
  <% end %>
  <% if listing.prices.count > 1 %>
    <p>Previous prices:
    <ol>
    <% listing.prices.previous.each do |price| %>
      <li><%= price.amount %>
    <% end %>
    </ol>
  <% end %>
  <hr>
<% end %>



<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
