<p id="notice"><%= notice %></p>

<h1>
  <%= @area.name %>
  <small><%= @filtered_listings.count %> listings</small>
</h1>
<%= form_tag @area_path, method: :get do %>
  <%= label_tag :bedrooms %>
  <%= select_tag :bedrooms, options_for_select(@filtered_listings.map(&:bedrooms).uniq.compact.sort, params["bedrooms"]), prompt: "All"%>

  <%= label_tag :sale_status %>
  <%= select_tag :sale_status, options_for_select(["sold", "unsold"], params["sale_status"]), prompt: "All"%>
  <%= label_tag :year_sold %>
  <%= select_tag :year_sold, options_for_select([2016, 2017, 2018, 2019], params["year_sold"]), prompt: "All"%>
  <%= label_tag :new_sold_price_since %>
  <%= select_tag :new_sold_price_since,
    options_for_select([["7 days", 7], ["14 days", 14], ["21 days", 21], ["28 days", 28]],
                       params["new_sold_price_since"]),
  prompt: "All"%>
  <%= label_tag :order_by %>
  <%= select_tag :order_by,
    options_for_select([["Sold Date", "under_offer"]],
                       params["order_by"]),
  prompt: "None"%>
  <%= submit_tag 'Go', class: "green-button" %>
<% end %>
<p><%= link_to "Clear filters", area_path(@area) %>

<p><%= link_to "Visit on Rightmove", @area.url %></p>
<p><%= link_to "Agents", area_agents_path(@area) %></p>
<hr>
<% @filtered_listings.each_with_index do |listing, index| %>
  <section>
    <div class='listing-text'>
      <p><%= index + 1 %>: <%= link_to listing.title, listing.rm_link, target: "_blank" %></p>
      <p><%= listing.address %></p>
      <p>Agent: <small><%= listing.agent %></small></p>
      <% if listing.sold? %>
        <p>SOLD - <small><%= pretty_date(listing.under_offer) %></small></p>
      <% elsif listing.delisted %>
        <p>DELISTED - <small><%= pretty_date(listing.time_delisted) %></small></p>
      <% end %>
      <% if listing.current_listing_sold_price %>
        <p><%= listing.sold_price_string %></p>
      <% end %>

      <p><small><%= listing.description %></small></p>
      <p>£<%= number_with_delimiter(listing.price.amount, delimiter: ",") %>
    <% if listing.price.reduction %>
      - Reduced
    <% end %>
    <small><%= listing.price.pretty_date %> (<%= time_ago_in_words(listing.price.date) %> ago)</small></p>
      <% if listing.prices.count > 1 %>
        <p>Previous prices:
        <ol>
          <% listing.prices.previous.each do |price| %>
            <li>£<%= number_with_delimiter(price.amount, delimiter: ",") %>
            <small><%= price.pretty_date %> (<%= time_ago_in_words(price.date) %> ago)</small></li>
          <% end %>
        </ol>
      <% end %>
    </div>
    <div class='listing-sold-prices'>
      <p>Sold Prices</p>
      <section>
          <div class='sold-price-year'>
            <p><small>Year</small></p>
          </div>
          <div class='sold-price-amount'>
            <p><small>Amount</small></p>
          </div>
      </section>
      <% listing.sold_prices.each do |sp| %>
        <section>
          <div class='sold-price-year'>
            <%= sp.year %>
          </div>
          <div class='sold-price-amount'>
            <%= sp.amount %>
          </div>
        </section>
      <% end %>
    </div>
  </section>
  <hr>
<% end %>

<%= link_to 'Back', areas_path %>
