<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @area.url %>
</p>
<p><%= @area.listings.count %> listings</p>
<% @area.listings.each do |listing| %>
  <p>Title: <%= listing.title %></p>
  <p>Description: <%= listing.description %></p>
  <p>Address: <%= listing.address %></p>
  <p>Price: <%= listing.price.amount %></p>
  <% if listing.prices.count > 1 %>
    <p>Previous prices:
    <ol>
    <% listing.prices.previous.each do |price| %>
      <li><%= price.amount %>
    <% end %>
    </ol>
  <% end %>
<% end %>



<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
